.button{

    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.button:hover{

    background-color: turquoise;

}

.button:active{

    background-color: yellow;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

