#form-landing {
    background-color: var(--background-one);
    width: 100vw;
    height: 275vh;
    display: flex;
}

#form-landing .form-content {
    display: flex;
    width: 45%;
    align-items: right ;
    justify-content: center;
    padding: 8rem;
    width: 60vw;
    
    
}

#form-landing img {
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    max-width: 40vw;
    height: auto;
    
    position: absolute;
    top: 7rem;
    bottom: 0;
    right: 3rem;
}

#form-landing .form-body h1{
    font-size: 3.5rem;
    color: var(--secondary);
    font-weight: bolder;
}

#form-landing .form-body h3{
    margin-top: 0.7rem;
    margin-bottom: 3.5rem;
    font-size: 1rem;
    color: var(--app-black);
    font-weight: bolder;
}

#form-landing .form-body h4{
    font-size: 1.5rem;
    color: var(--app-black);
    font-weight: bolder;
    
}

#form-landing .form-body table{
    width: 100%;
}

#form-landing .form-body th{
    padding: 0.1rem;
    font-size: 1.5rem;
    font-weight: normal;
    
}

#form-landing .form-body td{
    padding: 0.1rem;
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

#form-landing .form-body p{
    
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}

#form-landing .form-body fieldset{
    border: 0rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

