.modal {
    display: none;              /* Hidden */
    position: fixed;            /* Positioning */
    z-index: 9;
    padding-top: 5rem;         /* Padding */
    padding-bottom: 5rem;         /* Padding */
    top: 0;                    /* Cover Top */
    left: 0;
    width: 100vw;                /* Cover all page */
    height: 100vh;
    background-color: rgba(0,0,0,0.5); /* Reduce page brigthness */
    overflow-y: scroll;
}

.modal-content {
    background-color: var(--app-white);  /* Modal background */
    margin: auto;           /* Margin */
    padding: 4rem 5rem;          /* Padding */
    border: 0.2rem solid #888; /* Fade in border */
    width: 80%;             /* Modal Width */
    border-radius: 1rem;
    padding-bottom: 5rem;
    }

.close-modal {    /* Close X */
    color: #aaaaaa;        
    float: right;
    font-size: 1.5rem;
}

.close-modal:hover,
.close-modal:focus {   /* Highligth the X */
    color: var(--app-black);
    text-decoration: none;
    cursor: pointer;
}

.button{

    background-color: var(--secondary);
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: right;
    text-decoration: none;
    display: block;
    font-size: 100%;
    font-weight: 600;
    border-radius: 1rem;
    float: right;
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
    


    width: 12rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    background-color: var(--secondary-hover);
    cursor: pointer;
}

.button:active{

    background-color: var(--secondary);
    box-shadow: 5rem #666;
    transform: translateY(4px);
}

.flavor-text, .modal-action-start, .modal-action-end, .modal-action-responsible, .modal-action-requisites{
    display: inline;
    font-family: Roboto, sans-serif;
}

.modal-action-start,
.modal-action-end,
.modal-action-responsible,
.modal-action-requisites {
    color: var(--secondary);
}

.modal-action-description{
    font-family: Roboto, sans-serif;
}

.hr-style{
    border: 0rem;
    height: 0.1rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.modal-title {
    margin-bottom: 1rem;
}

.modal-title .modal-action-title {
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

.modal-desc {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.modal-desc .modal-action-description {
    color: var(--text-black);
}

.modal-desc .modal-action-description p {
    margin: 0.8rem 0;
}

.modal-desc .modal-action-description p b {
    font-weight: bold;
}

.modal-details {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}