.modal {
    display: none;              /* Hidden */
    position: fixed;            /* Positioning */
    z-index: 9;
    padding-top: 5rem;         /* Padding */
    top: 0;                     /* Cover Top */
    left: 0;
    width: 100vw;                /* Cover all page */
    height: 100vh;
    background-color: rgba(0,0,0,0.5); /* Reduce page brigthness */
}

.modal-content {
    background-color: #ffffff;  /* Modal background */
    margin: auto;           /* Margin */
    padding: 4rem 5rem;          /* Padding */
    border: 0.2rem solid #888; /* Fade in border */
    width: 50%;             /* Modal Width */
    border-radius: 1rem;
    overflow-y: scroll;
    padding-bottom: 5rem;
    }

.close-modal {    /* Close X */
    color: #aaaaaa;        
    float: right;
    font-size: 1.5rem;
}

.close-modal:hover,
.close-modal:focus {   /* Highligth the X */
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }

.button{

    background-color: var(--secondary);
    border: none;
    color: white;
    padding: 1rem 3rem;
    text-align: right;
    text-decoration: none;
    display: block;
    font-size: x-large;
    border-radius: 1rem;
    float: right;
    box-shadow: 0rem 1rem 1rem 0 #666;
    


}
.button:hover{

    background-color: var(--secondary-hover);

}

.button:active{

    background-color: var(--secondary);
    box-shadow: 5rem #666;
    transform: translateY(4px);

}

.flavor-text, .modal-action-start, .modal-action-end, .modal-action-responsible, .modal-action-requisites{

    display: inline;
    font-family: Roboto, sans-serif;
}



.modal-action-title{

    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;

}

.modal-action-description{
    font-family: Roboto, sans-serif;
    
}

.hr-style{
    border: 0rem;
    height: 0.1rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));


}