.modal {
    display: none;              /* Hidden */
    position: fixed;            /* Positioning */
    z-index: 9;
    padding-top: 5rem;         /* Padding */
    top: 0;                     /* Cover Top */
    left: 0;
    width: 100vw;                /* Cover all page */
    height: 100vh;
    background-color: rgba(0,0,0,0.5); /* Reduce page brigthness */
    }

.modal-content {
    background-color: #ffffff;  /* Modal background */
    margin: auto;           /* Margin */
    padding: 20px;          /* Padding */
    border: 1px solid #888; /* Fade in border */
    width: 50%;             /* Modal Width */
    }

.close-modal {    /* Close X */
    color: #aaaaaa;        
    float: right;
    font-size: 42px;
    }

.close-modal:hover,
.close-modal:focus {   /* Highligth the X */
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }