header {
    background-color: transparent;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.6rem 5%;
    position: fixed;
    z-index: 5;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
}

.logo {
    cursor: pointer;
    margin-right: 1rem;
}

.nav-items {
    list-style: none;
}

.nav-items li {
    display: inline-block;
    padding: 0 20px;
}

.nav-items li a {
    transition: all 0.3s ease 0s;
    color: var(--text-black);
    font-weight: 600;
}

.nav-items li a:hover {
    color: var(--secondary-hover);
}

#nav-doe {
    width: 8rem;
    height: 2.5rem;
    background: #E83E32;
    box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2.62rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 3.5rem;

    transition: 500ms;
}

#nav-doe:hover {
    cursor: pointer;
    background-color: var(--secondary-hover);
}

.nav-items{
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

.nav-items li{
    border-right: 1px solid var(--text-black);
    display: inline-block;
    padding: 0 3rem;
}

.nav-items li:last-child {
    border-right:0;
} 