@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --app-white: #edf0f1;
    --background-gray: #EEDDDD;
    --app-black: #121317;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: overlay;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--app-white);
    text-decoration: none;
}