.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container .category-indicator {
    display: flex;
    align-self: flex-start;
    width: 50%;

    color: var(--text-black);
    font-size: 1.4vw;
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 1.2rem;
}

.cards-container .category-indicator-name {
    margin-left: 0.6rem;
    color: var(--secondary);
    font-weight: 700;
}

#education-actions, #culture-actions, #sports-actions, #food-actions {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card {
    width: 10rem;
    height: 12.5rem;
    background-color: var(--primary);
}

#actions .cards-container .card h4 {
    line-height: normal;
    font-size: 1rem;
    font-weight: 600;
}

