#lightSlider1, #lightSlider2, #lightslider3, #lightSlider3 {
    width: 100%;
}

.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cards-container .category-indicator {
    display: flex;
    align-self: flex-start;
    width: 50%;

    color: var(--text-black);
    font-size: 1.4vw;
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 1.2rem;
}

.cards-container .category-indicator-name {
    margin-left: 0.6rem;
    color: var(--secondary);
    font-weight: 700;
}

.cards-container .sliderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#education-actions, #culture-actions, #sports-actions, #food-actions {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card {
    width: 10rem;
    height: 12.5rem;
    background-color: var(--secondary);
    color: var(--app-white);

    border-radius: 2rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .card h4 {
    line-height: normal;
    font-size: 1rem;
    font-weight: 600;
}

