#lightSlider1, #lightSlider2, #lightslider3, #lightSlider3 {
    width: 100%;
}

.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cards-container .category-indicator {
    display: flex;
    align-self: flex-start;
    width: 50%;

    color: var(--text-black);
    font-size: 1.4vw;
    font-weight: 600;
    margin-left: 2rem;
    margin-bottom: 1.2rem;
}

.cards-container .category-indicator-name {
    margin-left: 0.6rem;
    color: var(--secondary);
    font-weight: 700;
}

.cards-container .sliderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#education-actions, #culture-actions, #sports-actions, #food-actions {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card {
    width: 10rem;
    height: 12.5rem;
    background-color: var(--secondary);
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    color: var(--app-white);

    border-radius: 2rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 300ms;
    cursor: pointer;
}

.card:hover {
    background-color: var(--secondary-hover);
}

.card .action-image {
    max-width: 100%;
    width: 100%;
    height: 70%;
    justify-self: flex-start;
    border-radius: 1.9rem 1.9rem 0 0;
}

.card .title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--app-white);
    border-radius: 0 0 1.9rem 1.9rem;

    width: 100%;
    height: 30%;
}

 .card .title-container p {
    color: var(--text-black);
    width: 80%;
    text-align: center;
    line-height: normal;
    font-size: 1rem;
    font-weight: 600;
}

