#landing {
    background-color: var(--background-one);
    width: 100vw;
    height: 100vh;
    display: flex;
}

#landing .landing-content {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#landing img {
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 85%;
    height: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
}

#landing .landing-content-items h3 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 3rem;
    font-style: normal;
}

#landing .landing-content-items a {
    width: 15rem;
    height: 3.5rem;
    background: var(--secondary);
    border-radius: 2.62rem;
    margin-left: 50%;
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);

    font-size: 1.2rem;
    font-weight: 400;

    transition: 500ms;
}

#landing .landing-content-items a:hover {
    cursor: pointer;
    background-color: var(--secondary-hover);
}

#landing .call-to-donation {
    display: flex;
    align-items: center;
    justify-content: center;
}

#history {
    background-color: var(--background-two);
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 1.5rem;
}

#history .history-left {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#history .history-left h3 {
    flex: 1;
    color: var(--text-black);
    font-weight: bold;
    font-size: 2rem;
    justify-self: center;
    margin-top: 2rem;
    margin-left: var(--title-left-margin);
}

#history .history-left img {
    max-width: 95%;
    height: 90%;
    justify-self: flex-end;
}

#history .history-right {
    flex:1;
    height: 100%;
    padding: 2rem;
}

#history .history-right h4 {
    color: var(--text-black);
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 3.5rem;
    margin-bottom: 1.2rem;
}

#history .history-right p {
    width: 80%;
    text-align: justify;
}

#donations {
    background-color: var(--background-one);
    width: 100vw;
    height: 100vh;
}

#actions {
    background-color: var(--background-two);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#actions h3 {
    color: var(--text-black);
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 3rem;
    font-style: normal;

    margin-left: var(--title-left-margin);
    margin-top: 2rem;
}

#actions .categories-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 40%;
}

#actions .categories-container .category-card {
    width: 15%;
    height: 90%;
    border-radius: 1rem;
    background-color: var(--primary);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#actions .categories-container .category-card.selected {
    background-color: blue;
}

#actions .actions-main-container {
    justify-self: flex-end;
    flex: 1;
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#actions .actions-container {
    background-color: var(--background-one);
    border-radius: 2.5rem;
    width: 80%;
    height: 55%;
}

#updates {
    background-color: var(--background-one);
    width: 100vw;
    height: 100vh;
}

#volunteer {
    background-color: var(--background-two);
    width: 100vw;
    height: 100vh;
}