{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Amor ao próximo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/extern/lightslider.css' %}" />
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/extern/JQuery3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/extern/lightslider.js' %}"></script>

    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <header>
        <img src="{% static 'img/Simbolo_logo_Amor_ao_Proximo.svg' %}" 
        alt="logo amor ao próximo" class="logo"
        width="32" height="32">
        <nav>
            <ul class="nav-items">
                <li><a href="#">Ações</a></li>
                <li><a href="#">Notícias</a></li>
                <li><a href="#">Voluntariar-se</a></li>
                <li><a href="#">Doar</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>

    </footer>

    {% block scripts %}
    {% endblock scripts %}
    <script type="text/javascript" src="{% static 'js/cardSlider.js' %}"></script>
</body>


</html>