{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Amor ao próximo</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/extern/lightslider.css' %}" />
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/extern/JQuery3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/extern/lightslider.js' %}"></script>

    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <header id="nav">
        <img src="{% static 'img/Logo.svg' %}" 
        alt="logo amor ao próximo" class="logo"
        width="82" height="64">
        <nav>
            <ul class="nav-items">
                <li><a href="#history">História</a></li>
                <li><a href="#actions">Ações</a></li>
                <li><a href="#updates">Novidades</a></li>
                <li><a href="#volunteer">Seja voluntário</a></li>
            </ul>
        </nav>
        <a href="#donations" id="nav-doe">
            doar
        </a>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <img src="{% static 'img/footer-background.svg' %}" alt="plano de fundo do footer">
    </footer>

    {% block scripts %}
    {% endblock scripts %}
    <script type="text/javascript" src="{% static 'js/cardSlider.js' %}"></script>
</body>


</html>