{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Amor ao próximo</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/extern/lightslider.css' %}" />
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/extern/JQuery3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/extern/lightslider.js' %}"></script>

    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <header id="nav">
            <a href="/" id="logo-container">
                <img src="{% static 'img/Logo.svg' %}" 
                alt="logo amor ao próximo" class="logo"
                width="82" height="64">
            </a>
        <nav>
            <ul class="nav-items">
                <li><a href="/#history">História</a></li>
                <li><a href="/#actions">Ações</a></li>
                <li><a href="/#updates">Novidades</a></li>
                <li><a href="/#volunteer">Seja voluntário</a></li>
            </ul>
        </nav>
        <a href="/#donations" id="nav-doe">
            Doar!
        </a>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <div class="footer-content">
            <div class="ong-info">
                <div class="ong-info-left">
                    <p>Telefone: +55 (85) 9834-4615</p>
                    <p>Instagram: @Oficialamoraoproximo</p>
                    <p>E-mail: ofamoraoproximo@gmail.com</p>
                    <p>Endereço: Rua professora Maria Clara 2243 - Vila Velha</p>
                </div>
    
                <div class="ong-info-right">
                    <p>Pix: ofamoraoproximo@gmail.com</p>
                    <p>Natan Henrique Paz Freire</p>
                    <p>Bradesco</p>
                </div>
            </div>
            <div class="cj3t-container">
                <img src="{% static 'img/cj3t_logo.svg' %}" alt="logo da equipe CJ3T">
                <a href="https://github.com/Thiagomrfs/AmorAoProximoSite">Aplicação desenvolvida pela equipe C-J3T</a>
            </div>
        </div>
        <img src="{% static 'img/footer-background.svg' %}" alt="plano de fundo do footer">
    </footer>

    {% block scripts %}
    {% endblock scripts %}
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/actionsList.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
</body>

</html>
