{% extends "base.html" %}
{% load static %}
{% load remove_enters %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main/sections.css' %}">
<link rel="stylesheet" href="{% static 'css/main/actionCard.css' %}">
<link rel="stylesheet" href="{% static 'css/formvol.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <section id="form-landing">
            <div class="form-content">
                <form target="_blank" action="https://formsubmit.co/cevef60406@5sword.com" method="POST">
                    <input type="hidden" name="_subject" value="Formulário de Voluntário">
                    <input type="hidden" name="_captcha" value="false">
                    <input type="hidden" name="_template" value="box">
                    <input type="hidden" name="_next" value="/feedback">
                    <div class="form-body">
                        <h1>

                            Voluntarie-se:
    
                        </h1>
    
                        <h3>
    
                            Olá! Esse é o formulário de inscrição de novos voluntários do Instituto Amor ao Próximo! Preencha as perguntas e em breve entraremos em contato. Venha fazer parte da nossa família!
    
                        </h3>
    
                        <h4>
    
                            <p>Nome Completo:</p>
    
                            <form class="form-input">
    
                                <input type="text" name="Nome" placeholder="Nome Completo" required/>
    
                            </form>
    
                            
    
                            <p>Data de nascimento:</p>
    
                            <form class="form-input">
    
                                <input type="date" name="Nascimento" required/>
    
                            </form>
    
                            
    
                            <p>Em qual bairro você mora?</p>
    
                            <form class="form-input">
    
                                <input type="text" name="Bairro" placeholder="Quintino Cunha" required/>
    
                            </form>
    
                            
    
                            <p>Email:</p>
    
                            <form class="form-input">
    
                                <input type="email" name="Email" placeholder="endereço@deemail.com" required/>
    
                            </form>
    
                            
    
                            <p>Como você conheceu o instituto?</p>
    
                            <form class="form-input">
    
                                <input type="text" name="Como conheceu" required/>
    
                            </form>
    
                            
    
                            <p>Deixe seu WhatsApp:</p>
    
                            <form class="form-input">
    
                                <input type="tel" pattern="[0-9]{11}" name="Telefone" placeholder="Telefone" required/>
    
                            </form>
    
    
    
                            <p>Qual sua disponibilidade nesses dias?</p>
    
    
    
                            <table>
    
                                <tr>
    
                                    <th></th>
    
                                    <th>Manhã</th>
    
                                    <th>Tarde</th>
    
                                    <th>Noite</th>
    
                                </tr>
    
                                <tr>
    
                                    <td class="label" name="Segunda-feira">Segunda-Feira</td>
    
                                    <td class="check"><input type="checkbox" name="Segunda-Feira[]" value="Manhã"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Segunda-Feira[]" value="Tarde"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Segunda-Feira[]" value="Noite"/>  </td>                                
    
                                </tr>
    
    
    
                                <tr>
    
                                    <td class="label">Terça-Feira</td>
    
                                    <td class="check"><input type="checkbox" name="Terça-Feira[]" value="Manhã"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Terça-Feira[]" value="Tarde"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Terça-Feira[]" value="Noite"/>  </td>                                
    
                                </tr>
    
    
    
                                <tr>
    
                                    <td class="label">Quarta-Feira</td>
    
                                    <td class="check"><input type="checkbox" name="Quarta-Feira[]" value="Manhã"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Quarta-Feira[]" value="Tarde"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Quarta-Feira[]" value="Noite"/>  </td>                                
    
                                </tr>
    
    
    
                                <tr>
    
                                    <td class="label">Quinta-Feira</td>
    
                                    <td class="check"><input type="checkbox" name="Quinta-Feira[]" value="Manhã"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Quinta-Feira[]" value="Tarde"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Quinta-Feira[]" value="Noite"/>  </td>                                
    
                                </tr>
    
    
    
                                <tr>
    
                                    <td class="label">Sexta-Feira</td>
    
                                    <td class="check"><input type="checkbox" name="Sexta-Feira[]" value="Manhã"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Sexta-Feira[]" value="Tarde"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Sexta-Feira[]" value="Noite"/>  </td>                                
    
                                </tr>
    
    
    
                                <tr>
    
                                    <td class="label">Sábado</td>
    
                                    <td class="check"><input type="checkbox" name="Sabado[]" value="Manhã"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Sabado[]" value="Tarde"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Sabado[]" value="Noite"/>  </td>                                
    
                                </tr>
    
    
    
                                <tr>
    
                                    <td class="label">Domingo</td>
    
                                    <td class="check"><input type="checkbox" name="Domingo[]" value="Manhã"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Domingo[]" value="Tarde"/>  </td>
    
                                    <td class="check"><input type="checkbox" name="Domingo[]" value="Noite"/>  </td>                                
    
                                </tr>
    
                            </table>
    
    
    
                            
    
    
    
    
    
                            <p>Já teve experiência em trabalho voluntário?</p>
    
                            <fieldset class="check">
    
                                <input type="radio" name="Experiência Prévia" value="sim"><label>Sim</label><br>
    
                                <input type="radio" name="Experiência Prévia" value="nao"><label>Não</label><br>
    
                            </fieldset>
    
    
    
                            <p>Se sim, qual experiência?</p>
    
                            <form class="form-input">
    
                                <input type="text" name="Exemplo de Experiência Prévia">
    
                            </form>
    
                            
    
                            <p>Em quais áreas do nosso instituto você se identifica?</p>
    
                            
    
                            
                                
                                <fieldset class="check">
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Trabalho de Rua"><label>Trabalho</label><br>
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Design Gráfico"><label>Design Gráfico</label><br>
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Fotografia/Videomaker"><label>Fotografia/Videomaker</label><br>
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Psicologia"><label>Psicologia</label><br>
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Pedagogia"><label>Pedagogia</label><br>
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Administração e comunicação"><label>Administração e comunicação</label><br>
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Assistência social"><label>Assistência social</label><br>
    
                                    <input type="checkbox" name="Áreas de Interesse[]" value="Professores"><label>Professores</label><br>
    
                                    <input type="checkbox" value="Outros"><label>Outros:<input type="text" id="other" name="Áreas de Interesse[]"></input></label><br>
    
                                </fieldset>
                                
    
                            
    
                                
                                <button type="submit" id="bsubmit" >Enviar</button>
                        </h4>
                    </div>        
                </form>
            </div>
            <img src="{% static 'img/forms-castelo.png' %}" alt="Caminho nas nuvens para um castelo de sonhos" />
        </section>
    </div>
        














{% endblock content %}

{% block scripts %}
{% endblock scripts %}