{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main/sections.css' %}">
<link rel="stylesheet" href="{% static 'css/main/actionCard.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <section id="landing">
            <div class="landing-content">
                <div class="landing-content-items">
                    <h3>
                        “Somos porta voz de quem nunca foi ouvido!”
                    </h3>
                    <a href="#donations" class="call-to-donation">
                        Ajude ao próximo
                    </a>
                </div>
            </div>
            <img src="{% static 'img/landing.png' %}" alt="duas crianças sorrindo" />
        </section>
        <section id="history">
            <div class="history-left">
                <h3>Nossa História</h3>
                <img src="{% static 'img/natanHistory.png' %}" alt="natan, o líder da instituição" />
            </div>
            <div class="history-right">
                <h4>O início de tudo</h4>
                <p>
                    Aos 18 anos, Natan Henrique estava passando por momentos muito difíceis em sua vida,
                    e como muitos de nós, se sentia desmotivado, precisando de um propósito.
                    Em um dia comum, ele foi até o restaurante de sua tia, durante o horário de almoço, e,  enquanto esperava sua refeição, 
                    viu uma mãe em situação de rua com o filho. Quando seu prato chegou, sentindo muita empatia, se solidarizou e ofereceu 
                    o almoço para aquela família. Aquele simples ato de ajudar uma família
                    o deixou tão feliz que ascendeu uma paixão dentro dele.
                </p>
                <br/>
                <p>
                    Foi então que Natan, inquieto e sentindo o desejo de fazer a diferença na vida de pessoas que tanto precisavam,
                    buscava meios de fazer ações beneficentes, mas não poderia fazer tudo o que almejava sozinho.
                    Foi então que conseguiu encontrar pessoas com o mesmo forte desejo que ele,  rapidamente se organizando
                    para começar a fazer ações de rua, ações essas que além de mudar a vida das pessoas, 
                    mudaram também a vida de Natan e de seus companheiros, resultando na fundação do Instituto Amor ao Próximo em outubro de 2016,
                    para que esse propósito de fazer o bem não fosse um evento atípico, e sim realidade e cotidiano de todos.
                </p>
            </div>
        </section>
        <section id="donations">
            
        </section>
        <section id="actions">
            <h3>Ações que realizamos</h3>
            <div class="actions-main-container">
                <div class="categories-container">
                    <div class="category-card">
                        <img src="{% static 'img/categories/education.png' %}" alt="categoria educação" class="category-image">
                    </div>
                    <div class="category-card">
                        <img src="{% static 'img/categories/culture.png' %}" alt="categoria cultura" class="category-image">
                    </div>
                    <div class="category-card">
                        <img src="{% static 'img/categories/sports.png' %}" alt="categoria esporte" class="category-image">
                    </div>
                    <div class="category-card">
                        <img src="{% static 'img/categories/food.png' %}" alt="categoria comida na mesa" class="category-image">
                    </div>
                </div>
                <div class="actions-container">
                    <div id="action-modal" class= "modal">
                        <div class="modal-content">
                            <span class="close-modal">×</span>
                            <h1 class="modal-action-title" style="font-size: xx-large;">Título</h1>
                            <p class="flavor-text">De: </p>
                            <p class="modal-action-start">Data de início</p>
                            <p class="flavor-text"> até </p>
                            <p class="modal-action-end">Data de término</p>
                            <br></br>
                            <p class="modal-action-description">Descrição</p>
                            <br><br>
                            <p class="flavor-text">Instrutor(a)</p>
                            <p class="modal-action-responsible">Responsável</p>
                            <br></br>
                            <p class="flavor-text">Requisitos: </p>
                            <p class="modal-action-requisites">Pré-requisitos</p>
                            <br></br>
                            <p class="button">Matricule-se</p>
                        </div>
                    </div>  

                    <div id="education-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Educação</p>
                            </div>
                            <ul id="lightSlider1">
                                {% for action in education %}
                                    <li>
                                        <div class="card" id="ButModal-{{action.name}}"
                                        type = "button" 
                                        onClick="modal('ButModal-{{action.name}}', {
                                            'title': '{{action.name}}',
                                            'description': '{{action.description}}',
                                            'start_date': '{{action.start_date}}',
                                            'end_date': '{{action.end_date}}',
                                            'responsible': '{{action.responsible}}',
                                            'requisites': '{{action.prerequisites}}'
                                        })">
                                            <div class="image-container">
                                                {% with 'img/action_icons/'|add:action.icon as icon_path %}
                                                    <img id="{{action.name}}" src="{% static icon_path %}" alt="representação de {{action.icon}}" class="action-image" >
                                                {% endwith %}
                                            </div>
                                            <div class="title-container">
                                                <p class="action-title">{{action.name}}</p>
                                            </div>
                                            
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="culture-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Cultura</p>
                            </div>
                            <ul id="lightSlider2">
                                {% for action in culture %}
                                <li>
                                    <div class="card" id="ButModal-{{action.name}}"
                                    type = "button" 
                                    onClick="modal('ButModal-{{action.name}}', {
                                        'title': '{{action.name}}',
                                        'description': '{{action.description}}',
                                        'start_date': '{{action.start_date}}',
                                        'end_date': '{{action.end_date}}',
                                        'responsible': '{{action.responsible}}',
                                        'requisites': '{{action.prerequisites}}'
                                    })">
                                        <div class="image-container">
                                            {% with 'img/action_icons/'|add:action.icon as icon_path %}
                                                <img id="{{action.name}}" src="{% static icon_path %}" alt="representação de {{action.icon}}" class="action-image" >
                                            {% endwith %}
                                        </div>
                                        <div class="title-container">
                                            <p class="action-title">{{action.name}}</p>
                                        </div>
                                        
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="sports-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Esporte</p>
                            </div>
                            <ul id="lightSlider3">
                                {% for action in sports %}
                                <li>
                                    <div class="card" id="ButModal-{{action.name}}"
                                    type = "button" 
                                    onClick="modal('ButModal-{{action.name}}', {
                                        'title': '{{action.name}}',
                                        'description': '{{action.description}}',
                                        'start_date': '{{action.start_date}}',
                                        'end_date': '{{action.end_date}}',
                                        'responsible': '{{action.responsible}}',
                                        'requisites': '{{action.prerequisites}}'
                                    })">
                                        <div class="image-container">
                                            {% with 'img/action_icons/'|add:action.icon as icon_path %}
                                                <img id="{{action.name}}" src="{% static icon_path %}" alt="representação de {{action.icon}}" class="action-image" >
                                            {% endwith %}
                                        </div>
                                        <div class="title-container">
                                            <p class="action-title">{{action.name}}</p>
                                        </div>
                                        
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="food-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Comida na mesa</p>
                            </div>
                            <ul id="lightSlider4">
                                {% for action in food %}
                                <li>
                                    <div class="card" id="ButModal-{{action.name}}"
                                    type = "button" 
                                    onClick="modal('ButModal-{{action.name}}', {
                                        'title': '{{action.name}}',
                                        'description': '{{action.description}}',
                                        'start_date': '{{action.start_date}}',
                                        'end_date': '{{action.end_date}}',
                                        'responsible': '{{action.responsible}}',
                                        'requisites': '{{action.prerequisites}}'
                                    })">
                                        <div class="image-container">
                                            {% with 'img/action_icons/'|add:action.icon as icon_path %}
                                                <img id="{{action.name}}" src="{% static icon_path %}" alt="representação de {{action.icon}}" class="action-image" >
                                            {% endwith %}
                                        </div>
                                        <div class="title-container">
                                            <p class="action-title">{{action.name}}</p>
                                        </div>
                                        
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="updates">
            <h3>Acompanhe as novidades do instituto!</h3>
            <div class="updates-container">
                {% for update in updates %}
                <div class="update-card">
                    <div class="update-title">
                        <p>{{update.titulo}}</p>
                    </div>
                    <img src="{{ update.imagem.url }}" alt="Update">
                </div>
                {% endfor %}
            </div>
        </section>
        <section id="volunteer">
            <div class="intro">
                <h3>Qual perfil de voluntário combina mais com você?</h3>
                <p>
                    Esses são exemplos de funções que você pode exercer para ajudar quem mais precisa,
                    mas se você tem uma habilidade diferente dessas,
                    não se desanime e venha falar com a gente!
                </p>
                <p>Todos são importantes quando o objetivo é dar Amor ao Próximo!</p>
            </div>
            <div class="volunteer-call">
                <div class="volunteer-profiles">
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/trabalhoDeRua.svg' %}" alt="icone trabalho de rua">
                        <p>Trabalho de rua</p>
                    </div>
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/designGrafico.svg' %}" alt="icone design gráfico">
                        <p>Design gráfico</p>
                    </div>
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/videomaker.svg' %}" alt="icone fotografia e videomaking">
                        <p>Fotografia/Videomaking</p>
                    </div>
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/psicologia.svg' %}" alt="icone psicologia">
                        <p>Psicologia</p>
                    </div>
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/pedagogia.svg' %}" alt="icone pedagogia">
                        <p>Pedagogos</p>
                    </div>
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/administração.svg' %}" alt="icone administração">
                        <p>Aministração e comunicação</p>
                    </div>
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/assistência.svg' %}" alt="icone trabalho de rua">
                        <p>Assistência social</p>
                    </div>
                    <div class="volunteer-card">
                        <img src="{% static 'img/volunteer_icons/educação.svg' %}" alt="icone trabalho de rua">
                        <p>Educação</p>
                    </div>
                </div>
                <button>Quero me voluntariar!</button>
            </div>
        </section>
    </div>
{% endblock content %}

{% block scripts %}
<script src= {% static "js/modal.js" %}> </script>
{% endblock scripts %}