{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main/sections.css' %}">
<link rel="stylesheet" href="{% static 'css/main/actionCard.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container">
        <section id="landing">
            <div class="landing-content">
                <div class="landing-content-items">
                    <h3>
                        “Somos porta voz de quem nunca foi ouvido!”
                    </h3>
                    <a href="#donations" class="call-to-donation">
                        Ajude ao próximo
                    </a>
                </div>
            </div>
            <img src="{% static 'img/landing.png' %}" alt="duas crianças sorrindo" />
        </section>
        <section id="history">
            <div class="history-left">
                <h3>Nossa História</h3>
                <img src="{% static 'img/natanHistory.png' %}" alt="natan, o líder da instituição" />
            </div>
            <div class="history-right">
                <h4>O início de tudo</h4>
                <p>
                    Aos 18 anos, Natan Henrique estava passando por momentos muito difíceis em sua vida,
                    e como muitos de nós, se sentia desmotivado, precisando de um propósito.
                    Em um dia comum, ele foi até o restaurante de sua tia, durante o horário de almoço, e,  enquanto esperava sua refeição, 
                    viu uma mãe em situação de rua com o filho. Quando seu prato chegou, sentindo muita empatia, se solidarizou e ofereceu 
                    o almoço para aquela família. Aquele simples ato de ajudar uma família
                    o deixou tão feliz que ascendeu uma paixão dentro dele.
                </p>
                <br/>
                <p>
                    Foi então que Natan, inquieto e sentindo o desejo de fazer a diferença na vida de pessoas que tanto precisavam,
                    buscava meios de fazer ações beneficentes, mas não poderia fazer tudo o que almejava sozinho.
                    Foi então que conseguiu encontrar pessoas com o mesmo forte desejo que ele,  rapidamente se organizando
                    para começar a fazer ações de rua, ações essas que além de mudar a vida das pessoas, 
                    mudaram também a vida de Natan e de seus companheiros, resultando na fundação do Instituto Amor ao Próximo em outubro de 2016,
                    para que esse propósito de fazer o bem não fosse um evento atípico, e sim realidade e cotidiano de todos.
                </p>
            </div>
        </section>
        <section id="donations">

        </section>
        <section id="actions">
            <h3>Ações</h3>
            <div class="actions-main-container">
                <div class="categories-container">
                    <div class="category-card">
                        <img src="{% static 'img/categories/education.png' %}" alt="categoria educação" class="category-image">
                        <div class="title-container">
                            <p class="category-title">Educação</p>
                        </div>
                    </div>
                    <div class="category-card">
                        <img src="{% static 'img/categories/culture.png' %}" alt="categoria educação" class="category-image">
                        <div class="title-container">
                            <p class="category-title">Cultura</p>
                        </div>
                    </div>
                    <div class="category-card">
                        <img src="{% static 'img/placeholder.jpg' %}" alt="categoria educação" class="category-image">
                        <div class="title-container">
                            <p class="category-title">Esporte</p>
                        </div>
                    </div>
                    <div class="category-card">
                        <img src="{% static 'img/categories/food.png' %}" alt="categoria educação" class="category-image">
                        <div class="title-container">
                            <p class="category-title">Comida na mesa</p>
                        </div>
                    </div>
                </div>
                <div class="actions-container">
                    <div id="education-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Educação</p>
                            </div>
                            <ul id="lightSlider1">
                                {% for action in education %}
                                    <li>
                                        <div class="card">
                                            <h4>{{action.name}}</h4>
                                            <p>{{action.description}}</p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="culture-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Cultura</p>
                            </div>
                            <ul id="lightSlider2">
                                {% for action in culture %}
                                    <div class="card">
                                        def
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="sports-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Esporte</p>
                            </div>
                            <ul id="lightSlider3">
                                {% for action in culture %}
                                    <div class="card">
                                        ghi
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="food-actions">
                        <div class="cards-container">
                            <div class="category-indicator">
                                <p>Visualizando ações para: </p>
                                <p class="category-indicator-name">Comida na mesa</p>
                            </div>
                            <ul id="lightSlider4">
                                {% for action in culture %}
                                    <div class="card">
                                        jkl
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="updates">

        </section>
        <section id="volunteer">

        </section>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}