.categories {
    display: inline-block;
}

.categories .cards-container .card {
    margin-top: 10rem;
    display: flex;
    padding: 0;
    height: 10rem;
    justify-content: center;
    align-items: center;
}
